# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this app.
#
# @see https://nextjs.org/docs/basic-features/environment-variables for details.
# ------------------------------------------------------------------------------

# -----------------------------------------------------------------------------
# Replicate API
# -----------------------------------------------------------------------------

REPLICATE_API_TOKEN=
