.loading {
  position: relative;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fill {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loadingAnimation {
  width: 200px;
  height: 200px;
  max-width: 50vw;
  max-height: 50vh;
}
