# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run this project.
# ------------------------------------------------------------------------------

AGENTIC_API_BASE_URL='http://localhost:3001'
AGENTIC_GATEWAY_BASE_URL='http://localhost:8787'

# Long-lived access token for `dev` user
AGENTIC_API_ACCESS_TOKEN=
