.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 12px 0;
  line-height: 1;
}

.headerContent {
  pointer-events: auto;
  align-self: center;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  min-height: 32px;
}

.rhs {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  gap: 0.5em;
}

.logo {
  font-family: 'Josefin Sans';
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2em;
  letter-spacing: 0.02em;
  user-select: none;
}

.navHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: var(--gap-w-1);

  max-width: var(--max-width);
  height: 100%;
  margin: 0 auto;
}

.logo a:link,
.logo a:visited,
.logo a:hover,
.logo a:active {
  text-decoration: none;
  color: inherit;
}
