# ------------------------------------------------------------------------------
# This is an example .env file.
#
# All of these environment vars must be defined either in your environment or in
# a local .env file in order to run the demo for this project.
# ------------------------------------------------------------------------------

# -----------------------------------------------------------------------------
# OpenAI
# -----------------------------------------------------------------------------

OPENAI_API_KEY=
